// Navbar.scss
.navbar {
    background-color: var(--white);
    padding: 1rem;
    position: relative;
    border-bottom:2px solid var(--green);

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        .logo {
            font-weight: 700;
            text-decoration: none;
            color: #333;
            font-size: 30px;
            text-transform: uppercase;
        }

        .nav-links {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: #333;
                    padding: 5px 10px;
                }
            }
        }

        .login-link {
            text-decoration: none;
            color: #fff;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            background-color: var(--blue);
            font-size: 18px;
        }

        .menu-toggle {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                background-color: #333;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        .navbar-container {
            .nav-links {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                background-color: #f0f0f0;
                text-align: center;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

                &.active {
                    display: flex;
                }

                li {
                    margin: 10px 0;
                }
            }

            .menu-toggle {
                display: block;

                &.active {
                    .bar:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }

                    .bar:nth-child(2) {
                        opacity: 0;
                    }

                    .bar:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }

            .login-dropdown {
                width: 100%; // Full width on mobile

                .dropdown-content {
                    width: 100%; // Full width on mobile
                    left: 0; // Align to the left
                }
            }
        }
    }
}